<DefaultHome IsDeleteModalActive="SetsVM.ShowDeleteModal"
             IsLoading="SetsVM.IsLoading"
             ListName="Set List"
             CreateHrf="set/create"
             CreateButtonLabel="new set"
             DeleteConfirmationChanged="SetsVM.DeleteConfirmation">
    <Body>
        @if (SetsVM.Categories.Any())
        {
            <QuickGrid Items="@SetsVM.Categories" Pagination="@SetsVM.Pagination">
                <TemplateColumn Title="Name" Class="flex gap-2">
                    <img class="w-6 h-6" src="@context.Symbol">
                    <NavLink class="cursor-pointer" href="@($"/card/{context.Id}")">@context.Name</NavLink>
                </TemplateColumn>
                <TemplateColumn Title="Actions">
                    <Button rounded info IsLink="true" Label="Edit" href="@($"set/edit/{context.Id}")" />
                    <Button rounded danger Label="Delete" @onclick="() => SetsVM.Delete(context.Id)" />
                </TemplateColumn>
            </QuickGrid>
            <Paginator Value="@SetsVM.Pagination" />
        }
        else
        {
            if (SetsVM.IsLoading)
            {
                <Loading Show="SetsVM.IsLoading" />
            }
            else
            {
                <p>No records found!</p>
            }
        }
    </Body>
</DefaultHome>

@code {
    [CascadingParameter(Name = "SetsVM")]
    public ISetListViewModel SetsVM { get; set; } = null!;
}
